.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(225, 230, 233);
    font-weight: 400;
}
.footer-container>.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media (max-width:450px){
    .footer-container{
        font-size: 0.8rem;
    }
}